body{
  background-color: cornsilk;
}
.style{
  color: red;
  font-weight: bold;
}
.red-radio:checked {
  background-color: red;
  border-color:red;
}
.green-radio:checked {
  background-color: green;
  border-color:green;
}